:local(.home_content)
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

:local(.motto)
  text-algin: right

:local(.home_item)
  width: 40%;
  height: 150px;
  background-color: skyblue;
  margin-bottom: 40px;