
  
:local(.home)
  font-size: 20px
  color: blue

:local(.nvabar)
  display: flex;
  justify-content: space-between;

:local(.title)
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: skyblue

:local(.nav)
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  line-height: 80px;
  li 
    width: 100px;
    padding: 0 20px;
    list-style: none;
    a
      text-decoration: none;
      color: #000;
      cursor: pointer;
      background-image: none;
      font-weight: 600;
