// body 
//   margin: 0;
//   font-family: Open Sans,Helvetica Neue,Helvetica,Segoe UI,Arial,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
//   color: #333;
//   font-weight: 300;
body 
  background-color: #f7f7f7;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  

:local(.nvabar)
  min-height: 400px;
  overflow: hidden
  background-color: #1da7da;

:local(.otherNavbar)
  background-color: #1da7da;
  height: 250px;

:local(.nav_header)
  width: 100%;
  padding: 0 20px;
  border-color: transparent;
  background-color: #1da7da;
  position: fixed;
  top: 0;

:local(.nav_header_item)
  max-Width: 1125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

:local(.navbarFix)
  position: fixed;
  top: 0;
  z-index: 9999;


:local(.title)
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: skyblue

:local(.nav)
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  line-height: 55px;
  margin: 0;
  li 
    padding: 0 20px;
    list-style: none;
    margin: 0;
    a
      text-decoration: none;
      color: #fff
      display: block;
      width: 100%;
      height: 100%;
      cursor: pointer;
      background-image: none;
      text-shadow: none;
      font-size: 16px;
      .anticon
        font-size: 12px;
        margin-right: 6px;
        position relative;
        bottom: 1px;
      &:hover
        color: skyblue;
        border-bottom: 2px solid skyblue;

:local(.nav_content)
  width: 50%;
  margin: auto;
  margin-top: 120px;
  text-align: center;
  h1,h4 
    color: #fff;
