:local(.container)
  display: flex;
  justify-content: space-between;
  width: 75%;

:local(.article)
  margin-top: -60px;
  background-color: #fff;

:local(.article_info)
  padding: 20px 30px 1px 40px;
  margin-bottom: 10px;

:local(.tags)
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

:local(.tags_left)
  display: flex;
  a 
    padding: 0 10px;
    display: block;
    text-decoration: none;
    color: #fff;
    background: #1da7da;
    text-shadow: none;
    margin-right: 15px;
    font-size: 16px;
    line-height: 30px;
    height: 30px;
    border-radius: 15px;
    font-weight: 600;

:local(.tags_right)
  a
    display: block;
    text-decoration: none
    color: #1da7da;
    font-weight: 600;
    background-image: none;
    text-shadow: none;
    .anticon
      margin-right: 5px;

:local(.dates)
  display: flex;
  a 
    text-decoration: none;
    text-shadow: none;
    background-image: none;
    font-size: 16px;
    color: #525f7f
    margin-right: 15px;
    .anticon
      margin-right: 5px;

:local(.article_content)
  padding: 0 50px 20px 50px;
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5;
  color: #333;

:local(.article_title)
  text-align: center;
  font-size: 32px;
  color: #333;
  line-height: 1.5;
  margin-top: 35px;
  margin-bottom: 10px;
  padding-bottom: 5px;
